<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <title>Finvest</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width-device-width, initial-scale-1.0" />
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      type="text/css"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <section class="services" id="services">
      <div class="box-container">
        <div
          class="box"
          sec:authorize="hasAuthority('Admin')"
          onclick="location.href='/user'"
        >
          <img src="https://i.ibb.co.com/hWtzys7/group.png" />
          <h3>User</h3>
        </div>

        <div
          class="box"
          sec:authorize="hasAuthority('Legal')"
          onclick="location.href='/company'"
        >
          <img src="https://i.ibb.co.com/VCDW4wb/building.png" />
          <h3>Perusahaan</h3>
        </div>

        <div
          class="box"
          sec:authorize="hasAuthority('Legal')"
          onclick="location.href='/projects'"
        >
          <img src="https://i.ibb.co.com/BT3bMRP/project.png" />
          <h3>Proyek</h3>
        </div>

        <div class="box" onclick="location.href='/redirectFinance'">
          <img src="https://i.ibb.co.com/bmPdb8B/money-bag.png" />
          <h3>Keuangan</h3>
        </div>

        <div
          class="box justify-content-center"
          sec:authorize="hasAuthority('Investor')"
          onclick="location.href='/investasi'"
        >
          <img src="https://i.ibb.co.com/QFM47jC/save-money.png" />
          <h3>Investasi</h3>
        </div>
      </div>
    </section>

    <!-- untuk home -->

    <footer th:replace="fragments/fragment :: footer"></footer>
  </body>
</html>
