<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Delete User</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="text-center">
                <h2 th:text="'User dengan ID ' + ${uuid} + ' berhasil dihapus.'"></h2>
            </div>
            <div class="text-center m-3">
                <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
                <a type="button" class="btn btn-md btn-primary" href="/user">Lihat Semua User</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

</html>